.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured{
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}

.textcenter{
  text-align: center;
}
.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}
.hrgrey{
  border-top: 1.2px solid #ededed;
}

.align-end{
  text-align: end;
}

.cursorarrow{
  cursor: context-menu;
}

/* ---------------------- center part ---------------------- */

.findlodge{
  padding: 50px 20px 50px 20px;
}
.logofindimg{
  width: 111px;
  margin: -16px 0 0 6px;
}
.clearimg{
  width: 17px;
  margin: 0 4px 0 0;
}
.typeimg{
  width: 19px;
}
.types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #03A9F4;
}
.types::ng-deep.mat-radio-outer-circle{
  border-color: #777;
}

.types::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .types::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .types::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.types::ng-deep.mat-radio-label{
  margin-top: 6px;
}

.boxdetails{
  background: #fff;
  border: 1px solid #dedede;
  padding: 6px 7px 7px 7px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 3px 2px 4px 1px #dedede9e;
}

.boxdetails input{
  background: transparent;
  border: none;
  width: 80%;
}
.marginrow{
  margin-top: 60px;
}
.boxdetails::ng-deep.mat-select-value{
  color: #777;
}
.boxdetails::ng-deep.mat-select-arrow{
  color: #777;
}


/* --------------- slider -----------------*/
.filterprice::ng-deep.ng5-slider .ng5-slider-pointer{
  background-color: transparent !important;
}
.filterprice::ng-deep.ng5-slider .ng5-slider-selection {
  z-index: 2;
  background: #1da1f2 !important;
  border-radius: 2px;
}

.filterprice::ng-deep.ng5-slider.animate .ng5-slider-bubble.ng5-slider-limit {
  -webkit-transition: opacity linear .3s;
  transition: opacity linear .3s;
  bottom: -25px !important;
}


.filterprice::ng-deep.ng5-slider .ng5-slider-pointer:after {
  content: '';
  width: 12px !important;;
  height: 12px!important;;
  position: absolute;
  top: 11px !important;;
  left: 11px !important;;
  border-radius: 50% !important;;
  background: #fff;
  box-shadow: 2px 0px 6px 3px #aeaeae78;
}
.filterprice::ng-deep.ng5-slider .ng5-slider-bubble {

  font-size: 10px;
}
.filterprice::ng-deep.ng5-slider {
  margin: 22px 0 22px;
}
.filterprice::ng-deep.ng5-slider .ng5-slider-bar {
  background: #777;
}
/* ------------------------- slider ---------------------------*/

.findlodge::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  width: 66%;
  border-radius: 0;
}


.myadsempty{
  text-align: center;
  color: #777777;
}

.noads{
  font-family: Pacifico;
  color: #1da1f2;
}

.myadsempty::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 70%;
  border-radius: 0;
  margin-top: 60px;
}
.noadsimg{
  width: 35%;
  margin: 25px 0 35px 0;
}

/* ---------------------- center part ---------------------- */







/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}


.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


