<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-filterpart></app-filterpart>



			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured">
				<div *ngIf="findlodge" class="findlodge">
					<div class="row">
						<div class="col-9">
							<h2><b>Find Your Dream</b><img src="./assets/images/logo.png" class="logofindimg"></h2>
						</div>
						<div class="col-3 align-end">
							<p class="colorlightblue cursorarrow"><img src="./assets/images/clear.png" class="clearimg"><b>CLEAR SEARCH</b></p>
						</div>
					</div>
					<hr class="hrgrey">
				
					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/type.png" class="typeimg"><b>&nbsp; Type</b></h4>
						</div>
						<div class="col-8 types">
							<mat-radio-group aria-label="Select an option">
								<div class="row">
									<div class="col-6">
										<mat-radio-button [checked]="true" value="1">For Sale  </mat-radio-button>
									</div>
									<div class="col-6">
										<mat-radio-button value="2">For Rent</mat-radio-button>
									</div>
								</div>
							</mat-radio-group>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/unit.png" class="typeimg"><b>&nbsp; Unit Type</b></h4>
						</div>
						<div class="col-8 ">
							<div class="boxdetails">
								<mat-select>
								    <mat-option value="s1">select1</mat-option>
								    <mat-option value="s2">select2</mat-option>
								    <mat-option value="s3">select3</mat-option>
								    <mat-option value="s4">select4</mat-option>
								</mat-select>
							</div>
						</div>
					</div>

					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/governorate.png" class="typeimg"><b>&nbsp; Governorate</b></h4>
						</div>
						<div class="col-8 ">
							<div class="boxdetails">
								<mat-select>
								    <mat-option value="s1">select1</mat-option>
								    <mat-option value="s2">select2</mat-option>
								    <mat-option value="s3">select3</mat-option>
								    <mat-option value="s4">select4</mat-option>
								</mat-select>
							</div>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/area.png" class="typeimg"><b>&nbsp; Area</b></h4>
						</div>
						<div class="col-8 ">
							<div class="boxdetails">
								<mat-select>
								    <mat-option value="s1">select1</mat-option>
								    <mat-option value="s2">select2</mat-option>
								    <mat-option value="s3">select3</mat-option>
								    <mat-option value="s4">select4</mat-option>
								</mat-select>
							</div>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/compound.png" class="typeimg"><b>&nbsp; Compound</b></h4>
						</div>
						<div class="col-8 ">
							<div class="boxdetails">
								<mat-select>
								    <mat-option value="s1">select1</mat-option>
								    <mat-option value="s2">select2</mat-option>
								    <mat-option value="s3">select3</mat-option>
								    <mat-option value="s4">select4</mat-option>
								</mat-select>
							</div>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/price.png" class="typeimg"><b>&nbsp; Price Range (EGP)</b></h4>
						</div>
						<div class="col-8 filterprice">
							<ng5-slider [(value)]="value3" [(highValue)]="highValue3" [options]="options3"></ng5-slider>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-4">
							<h4><img src="./assets/images/search.png" class="typeimg"><b>&nbsp; Search</b></h4>
						</div>
						<div class="col-8 ">
							<div class="boxdetails">
								<mat-select>
								    <mat-option value="s1">select1</mat-option>
								    <mat-option value="s2">select2</mat-option>
								    <mat-option value="s3">select3</mat-option>
								    <mat-option value="s4">select4</mat-option>
								</mat-select>
							</div>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-12 textcenter">
							<button (click)="toggle('emptylodge')" mat-raised-button><b>VIEW LODGES</b></button>
						</div>
					</div>



				</div>
				<div *ngIf="emptylodge" class="findlodge">
					

					
					<div class="myadsempty">
						<img src="./assets/images/no lodges.png" class="noadsimg">
					    <h3 class="noads"><b>No Lodges Available!</b></h3>
					    <h6><b>Seems like you don't</b></h6>
					    <h6><b>post any ads.</b></h6>

					    <div class="row ">
							<div class="col-12">
								<button (click)="toggle('findlodge')" mat-raised-button>Back to Search</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
