



 <div class="container">
  
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deactivatepopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="deactivatepopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body center">
         
            <h3 class="noads"><b>Deactivate Post</b></h3>
            <p><b>Why do you want to deactivate it?</b></p>
            <div class="align-start">
            	  <mat-radio-group aria-label="Select an option">
			 
					<div class="row">
						<div class="col-12">
							<mat-radio-button value="1">Sold  &nbsp;</mat-radio-button>
						</div>

					</div>
					<div class="row">
						<div class="col-12">
							<mat-radio-button value="2">Change my mind  &nbsp;</mat-radio-button>
						</div>

					</div>
					<div class="row">
						<div class="col-12">
							<mat-radio-button value="3">Another reason  &nbsp;</mat-radio-button>
						</div>

					</div>
			   
				</mat-radio-group>
            </div>
          <button mat-button>Done <img src="./assets/images/circle arrow.png" class="doneimg"></button>
          <!-- <button mat-raised-button>SUBMIT</button> -->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
        
      </div>
    </div>
  </div>
  
</div>


