.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured{
  padding: 0;
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}

.textcenter{
  text-align: center;
}
.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}

.cursorarrow{
  cursor: context-menu;
}
.align-end{
  text-align: end;
}
.welcometolodge2 {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}


.welcomebox2 {
  /*text-align: center;*/
  color: white;
  position: relative;
}


.imgcenterlogo2{ 
  width: 30%;
  margin-top: -16px;
}
.developerheader{
  background-color: #fff;
  box-shadow: 0px 3px 3px 2px #67676b54;
  
}
.developerheaderwidth{
  height: 350px;
}
.developerheader .carouselimg{
  width: 100%;
  height: 100%;
}


.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/../assets/images/maxresdefault.jpg) center center no-repeat;
  background-size: cover;
}
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #fff ,transparent, transparent);
  opacity: 0.9;
}
.developerheadername{
  padding: 20px 15px 25px 15px;

}
.bgorange{
  background-color: #F97304;
  border-radius: 15px;
  color: #fff;
  font-size: 11px;
  padding: 4px 7px 4px 7px;
  margin: 4px 8px 0px 8px;
  text-align: center;
 
}
.socialimg2-en{
  width: 24px;
  margin: 4px 0px 6px 14px;
}

.placesbackrgound2{
  background-color: #ededed;
  padding: 3px 6px 3px 6px;
  color: #777777;
  min-width: 80px;
  border: none;
  font-size: 11px;
}
.placesbackrgound2-en{
  margin: 0 10px 0 0px;
}


button:focus{
  outline: none !important;
}

.aboutcompany{
  padding: 50px 35px 30px 35px;
  font-size: 13px;
}
.aboutcompanyimg{
  width: 100%;
  margin: 3px 0 50px 0;
  border-radius: 4px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}
.seeall{
  text-align: end;
  color: #1da1f2;
}
.fastimg{
  width: 14px;
}

.starsize{
  font-size: 13px;
}

.font11px{
  font-size: 11px;
}
.font12px{
  font-size: 12px;
}

.bedroomimg-en{
  width: 20px;
  margin: 0px 0px 6px 30px;
}

.mapimg{
  width: 100%;
  margin: 1px 0 18px 0;
}
.floorplanimg{
  width: 17px;
}
.floorplanimg-en{
  margin: 0 8px 0px 0px;
}

.editads::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  border-radius: 0;
  width: 66%;
  margin: 40px 0 15px 0;
}




/*slick  slide */
.slick-slider {
  width: 105%;
  margin: auto;
  margin-bottom: 45px;

  
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll 0 0;
  left: -33px;
}
 
.next-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll -24px 0px;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}

.marginslider{
  margin: 0 8px 20px 0;
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
}

.imgfeltured{
  height: 140px;
/*  border-radius: 5px;*/
}
.slick-initialized .slick-slide{
  padding-right: 20px;
}
.slickdescription{
  padding: 8px 8px 8px 8px;
}

.slick-initialized .slick-slide:focus{
  outline: none !important;
}

.sizeinch{
  width: 20px;
}
.fontcircle{
  font-size: 8px;
}

.hearttopright {
  position: absolute;
  top: 8px;
  right: 16px;
}

.pricebottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: #fff;
  border-radius: 9px;
  padding: 0 8px;
}

.imgfelturedbox{
  position: relative;
}
.heartwidth{
  width: 22px;
}

/*slick slide*/
.seeall{
  text-align: end;
  color: #1da1f2;
}

.hearticon{
  border: none;
  background: transparent;
}
.seeimg{
  width: 17px;
  margin: 0;
}














/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}


.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


