<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-filterpart></app-filterpart>



			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured">
				<div class="myadsdetail" >
					<div class="developerheader">
						<div class="developerheaderwidth">
							<div class="welcomebox2 bg-img">
								<div class="welcometolodge2"><img src="./assets/images/12250.png" class="imgcenterlogo2"></div>
					        	<!-- 
								<img src="./assets/images/maxresdefault.jpg" class="carouselimg"> -->
					        </div>
					       
						</div>
						<div class="developerheadername">
							<div class="row">
								<div class="col-6">
									<p class="font11px colorgrey">1 Day ago</p>
								</div>
								<div class="col-6 align-end">
									<p class="font11px"><img src="./assets/images/fast reply.png" class="fastimg"> <b>Boost Now</b></p>
								</div>
							</div> 

							<div class="row">
								<div class="col-6">
					       			<h3><b>Villa at New Cairo</b></h3>
								</div>
								<!-- <div class="col-3 align-end">
										
								</div> -->
								<div class="col-6 align-end">
									<p><span class="bgorange"> 4.3 <i class="fa fa-star" aria-hidden="true"></i> </span>
									<img src="./assets/images/blue heart border.png" class="socialimg2-{{'lang'|translate}}">
									<img src="./assets/images/share.png" class="socialimg2-{{'lang'|translate}}"></p>
									
								</div>
								
							</div>
							<div class="row">
								<div class="col-9">
									<h5 class="colororange"><b>EGP 7,000,000</b></h5>
								</div>
								<div class="col-3 align-end">
									<h6 class="colorlightblue cursorarrow"><b>See Mortgage </b> <img src="./assets/images/circle arrow.png" class="seeimg"></h6>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<p class="font11px colorgrey">Villa  |  REF: JG9756</p>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<p class="font11px colorgrey"><i class="fa fa-eye" aria-hidden="true"></i> 315 Views</p>
								</div>
								<div class="col-9 align-end">
									<p class="font12px"><b><img src="./assets/images/size.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 200 sqm  <img src="./assets/images/bed.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 3 Bedrooms  <img src="./assets/images/bathroom.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 2 Bathrooms </b></p>
								</div>
							</div>
							<p><button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="fastimg"> Fast Reply </button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-star colororange starsize" aria-hidden="true"></i> Excellent Service</button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-bookmark colororange starsize" aria-hidden="true"></i> Accurate Info</button></p>
					    </div>
					</div>
					<div class="aboutcompany">
						<div class="row">
							<div class="col-12">
								<h3><b>You’ll love it because</b></h3>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<p><img src="./assets/images/floor.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Floor (0)</b></p>
							</div>
							<div class="col-4 textcenter">
								<p><img src="./assets/images/chair.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Furnished</b></p>

							</div>
							<div class="col-4 align-end">
								<p><img src="./assets/images/garden.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Private Garden</b></p>
							</div>
						</div>
						<hr class="hrgrey">

						<div class="row">
							<div class="col-12">
								<h3><b>Location</b></h3>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p><b>Mivida, New Cairo, Cairo</b></p>
							</div>
						</div>
						<br>
						<a href=""><img src="./assets/images/map.jpg" class="mapimg"></a>

						<hr class="hrgrey">
						<div class="row">
							<div class="col-12">
								<h3><b>Floor Plan</b></h3>
								<p><img src="./assets/images/floorplan.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"> View Floor Plan</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<h3><b>Description</b></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
							</div>
						</div>
						<hr class="hrgrey">
						<div class="row">
							<div class="col-8">
								<h4><b>Properties by the same agent</b></h4>
							</div>
							<div class="col-4 seeall">
								<p ><b>See All</b></p>
							</div>
							
						</div>
						<br>
						<ngx-slick-carousel class="carousel" 
							  #slickModal="slick-carousel" 
							  [config]="slideConfig" 
							  (init)="slickInit($event)"
							  (breakpoint)="breakpoint($event)"
							  (afterChange)="afterChange($event)"
							  (beforeChange)="beforeChange($event)">
							<div ngxSlickItem *ngFor="let slide of slides" class="slide">
								<div class="marginslider">
									<div class="imgfelturedbox">
										<img src="{{ slide.img }}" width="100%" class="imgfeltured">
										<div class="hearttopright"> 
											<!-- <img src="./assets/images/white heart border.png" class="heartwidth">  -->

											<button class="hearticon" onclick="document.getElementById('myImage').src='./assets/images/white heart filled.png'"><img id="myImage" src="./assets/images/white heart border.png" class="heartwidth"></button>

										</div>
										<div class="pricebottomright"> <span class="colorgrey"><b class="colorlightblue">EGP 1,000 </b></span> / week</div>
									</div>
									<div class="slickdescription">
										<h5><b>Villa</b></h5>
										<p class="colorgrey">Mivida, New Cairo,Cairo</p>
										<div class="row">
											<div class="col-1">
												<img src="./assets/images/size.png" class="sizeinch">
											</div>
											<div class="col-10">
												<span class="colorgrey"> 700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms</span> 
											</div>
											
										</div>
										 
									</div>
							        
								</div>
							
							</div>
					    </ngx-slick-carousel>
						<div class="row">
							<div class="col-12">
								<h3><b>Safety tips</b></h3>
							
								<p>-Never transfer money in advance.  </p>
								<p>- Meet the seller at a public place.</p>
								<p>- Avoid items with an unrealistic place.</p>
								<p>- Don't proceed if something seems wrong.</p>

							
							</div>
						</div>
						<div class="row textcenter editads">
							<div class="col-12">
								<button mat-raised-button>CONTACT LODGER</button>
							</div>
						</div>

					</div>
				</div>	
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
