<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-quicksearch></app-quicksearch>

			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<div class="homecenterpart">
					<h4><b> &nbsp;</b></h4>
					<div class="positionrelative ">
					 
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						    <!-- Indicators -->
						    <ol class="carousel-indicators">
						      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						      <li data-target="#myCarousel" data-slide-to="1"></li>
						      <li data-target="#myCarousel" data-slide-to="2"></li>
						    </ol>

						    <!-- Wrapper for slides -->
						    <div class="carousel-inner">
						      <div class="item active welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
								<div class="welcometolodge">Welcome to <img src="./assets/images/whitelogoCenterd.svg" class="imgcenterlogo"></div>
								
						      </div>

						      <div class="item welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
								<div class="welcometolodge">Welcome to <img src="./assets/images/whitelogoCenterd.svg" class="imgcenterlogo"></div>
								
						      </div>
						    
						      <div class="item welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
								<div class="welcometolodge">Welcome to <img src="./assets/images/whitelogoCenterd.svg" class="imgcenterlogo"></div>
								
						      </div>
						    </div>
						</div>
						<div class="logo-bottom-{{'lang'|translate}}"><img src="./assets/images/white logo.svg" class="imgbottomlogo"></div>
					</div>
					<br>
					<div class="row">
						<div class="col-8">
							<h4><b>Featured Lodges</b></h4>
						</div>
						<div class="col-4 seeall">
							<p ><b>See All</b></p>
						</div>
						
					</div>
					<br>

					<ngx-slick-carousel class="carousel" 
							  #slickModal="slick-carousel" 
							  [config]="slideConfig" 
							  (init)="slickInit($event)"
							  (breakpoint)="breakpoint($event)"
							  (afterChange)="afterChange($event)"
							  (beforeChange)="beforeChange($event)">
							<div ngxSlickItem *ngFor="let slide of slides" class="slide">
								<div class="marginslider">
									<div class="imgfelturedbox">
										<img src="{{ slide.img }}" width="100%" class="imgfeltured">
										<div class="hearttopright"> 
											<!-- <img src="./assets/images/white heart border.png" class="heartwidth">  -->

											<button class="hearticon" onclick="document.getElementById('myImage').src='./assets/images/white heart filled.png'"><img id="myImage" src="./assets/images/white heart border.png" class="heartwidth"></button>

										</div>
										<div class="pricebottomright"> <span class="colorgrey"><b class="colorlightblue">EGP 1,000 </b></span> / week</div>
									</div>
									<div class="slickdescription">
										<h5><b>Villa</b></h5>
										<p class="colorgrey">Mivida, New Cairo,Cairo</p>
										<div class="row">
											<div class="col-1">
												<img src="./assets/images/size.png" class="sizeinch">
											</div>
											<div class="col-10">
												<span class="colorgrey"> 700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms</span> 
											</div>
											
										</div>
										 
									</div>
							        
								</div>
							
							</div>
					</ngx-slick-carousel>


					<div class="row">
						<div class="col-8">
							<h4><b>Latest For Sale</b></h4>
						</div>
						<div class="col-4 seeall">
							<p ><b>See All</b></p>
						</div>
						
					</div>
					<br>

					<ngx-slick-carousel class="carousel" 
							  #slickModalx="slick-carousel" 
							  [config]="slideConfig2" 
							  (init)="slickInit2($event)"
							  (breakpoint)="breakpoint($event)"
							  (afterChange)="afterChange($event)"
							  (beforeChange)="beforeChange($event)">
							<div ngxSlickItem *ngFor="let slide of slides2" class="slide">
								<div class="marginslider">
									<div class="imgfelturedbox">
										<img src="{{ slide.img }}" width="100%" class="imgfeltured">
										<div class="hearttopright"> <!-- <img src="./assets/images/white heart border.png" class="heartwidth"> --> 
											<button class="hearticon" onclick="document.getElementById('myImage2').src='./assets/images/white heart filled.png'"><img id="myImage2" src="./assets/images/white heart border.png" class="heartwidth"></button>

										</div>
										<div class="pricebottomright"> <span class="colorgrey"><b class="colorlightblue">EGP 1,000 </b></span> / week</div>
									</div>
									<div class="slickdescription">
										<h5><b>Villa</b></h5>
										<p class="colorgrey">Mivida, New Cairo,Cairo</p>
										<div class="row">
											<div class="col-1">
												<img src="./assets/images/size.png" class="sizeinch">
											</div>
											<div class="col-10">
												<span class="colorgrey"> 700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms</span> 
											</div>
											
										</div>
										 
									</div>
							        
								</div>
							
							</div>
					</ngx-slick-carousel>




				</div>
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>

