@font-face {
  font-family: 'Lodge-icons';
  src:  url('fonts/Lodge-icons.eot?son4li');
  src:  url('fonts/Lodge-icons.eot?son4li#iefix') format('embedded-opentype'),
  url('fonts/Lodge-icons.ttf?son4li') format('truetype'),
  url('fonts/Lodge-icons.woff?son4li') format('woff'),
  url('fonts/Lodge-icons.svg?son4li#Lodge-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lodge-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorite:before {
  content: "\e903";
  /*color: #1da1f2;*/
}
.icon-explore-tab:before {
  content: "\e902";
  /*color: #8d8d8d;*/
}

.icon-home-tab:before {
  content: "\e905";
  /*color: #8d8d8d;*/
}
.icon-login:before {
  content: "\e906";
  /*color: #8d8d8d;*/
}
.icon-logout:before {
  content: "\e907";
  /*color: #ff0015;*/
}
.icon-more-tab:before {
  content: "\e908";
 /* color: #8d8d8d;*/
}
.icon-profile:before {
  content: "\e909";
/*  color: #8d8d8d;*/
}
.icon-Register:before {
  content: "\e90a";
  /*color: #8d8d8d;*/
}
.icon-supplier:before {
  content: "\e90b";
  /*color: #8d8d8d;*/
}



/*nav css*/


.navbar1{
  width: 100%;
  margin-top: 0px;
  position: fixed;
  padding: 0px 25px 0 25px;
  z-index: 22;
  background-color: #fff;
  height: 80px;
  top: 0;
}

.logo{
  width: 118px;
}

.addimg{
  width: 109px;
  margin: 0 -18% 0 -18%;
}

.align-center{
  text-align: center;
}


.navbar2{
  width: 100%;
  margin-top: 0px;
  position: fixed;
  height: 80px;
  padding: 15px 25px 0 25px;
  box-shadow: 3px 0px 9px 3px #67676b61;
  z-index: 1;
  top: 0;
}
.navbar1 a{
  text-decoration: none;
  padding: 0 12px 0 12px;
  color: #8d8d8d;
  font-size: 53px;
}




span:hover>a .icon-home-tab,span:hover>a .icon-explore-tab,span:hover>a .icon-supplier,span:hover>a .icon-more-tab,span:hover>a .icon-favorite,span:active>a .icon-home-tab,span:active>a .icon-explore-tab,span:active>a .icon-supplier,span:active>a .icon-more-tab,span:active>a.icon-favorite{
  font-size: 32px;
  color: #1da1f2;
  /*border-bottom: 4px solid #1da1f2;*/ 
}

.navbar1 span:hover{
  border-bottom: 4px solid #1da1f2;
  color: #1da1f2;
}
.navbar1 span{
  font-size: 59px;
  padding: 0 0 7px 0;
}

.navbar1 span p{
  font-size: 11px;
  font-family: Proxima Nova Cn Rg;
}


.icon-home-tab,.icon-explore-tab,.icon-supplier,.icon-more-tab,.icon-favorite{
  font-size: 32px;
  color: #8d8d8d;
  /*padding: 0 8px 15px 8px;*/
}
.icon-login,.icon-Register{
  font-size: 12px;
  color: #8d8d8d;
}

a:hover>.icon-login,a:hover>.icon-Register{
  color: #1da1f2;
}

.logopadding{
  padding: 17px 0 0 0;
}

.a-fontsize a{
  font-size: 13px;
  cursor: pointer;
}

.a-fontsize a:hover{
  color: #1da1f2;
}

.paddinglogin{
  padding: 31px 0 0 0;
}

.borderreg-en{
  border-right: 2px solid #8d8d8d;
}
.font-family-en{
  font-family: Proxima Nova Cn Rg;
}
.font-family-ar{
  font-family: JF Flat Regular;
}


.font-arabic-ar{
  font-family: Proxima Nova Cn Rg;
}
.font-arabic-en{
  font-family: JF Flat Regular;
}
.lineheightnavbar{
  line-height: 1.1;
}
.end{
  text-align: end;

}

.blue{
  color: #1da1f2 !important;
}
.grey{
  color: #8d8d8d !important;
}










/* ----------------- media ----------------- */

@media screen and (max-width: 1280px) {
  .addimg{
    width: 105px;
    margin: 2px -32% 0 -32%;
  }
}



@media screen and (max-width: 1235px) {
  span:hover>a .icon-home-tab,span:hover>a .icon-explore-tab,span:hover>a .icon-supplier,span:hover>a .icon-more-tab,span:hover>a .icon-favorite,span:active>a .icon-home-tab,span:active>a .icon-explore-tab,span:active>a .icon-supplier,span:active>a .icon-more-tab,span:active>a.icon-favorite{
    font-size: 26px;

  }
  .icon-home-tab,.icon-explore-tab,.icon-supplier,.icon-more-tab,.icon-favorite{
    font-size: 26px;
  }
  .a-fontsize a{
    font-size: 11px;
  }
  .navbar1 span p{
    font-size: 10px;
  }
  .logo{
    width: 110px;
  }
  .borderreg-en{
    padding: 0;
  }
  .addimg{
    width: 100px;
    margin: 6px -32% 0 -32%;
  }
  .navbar1{
    padding: 0px 18px 0 18px;
  }
}


@media screen and (max-width: 1170px) {
  .addimg{
    width: 95px;
    margin: 10px -40% 0 -40%;
  }
  .logo {
    width: 107px;
  }
  span:hover>a .icon-home-tab,span:hover>a .icon-explore-tab,span:hover>a .icon-supplier,span:hover>a .icon-more-tab,span:hover>a .icon-favorite,span:active>a .icon-home-tab,span:active>a .icon-explore-tab,span:active>a .icon-supplier,span:active>a .icon-more-tab,span:active>a.icon-favorite{
    font-size: 25px;

  }
  .icon-home-tab,.icon-explore-tab,.icon-supplier,.icon-more-tab,.icon-favorite{
    font-size: 25px;
  }
  .paddinglogin{
    padding: 33px 0 0 0;
  }

}


@media screen and (max-width: 1024px) {
  .addimg{
    width: 89px;
    margin: 16px -60% 0 -60%;
  }
}

/* -----  other design ----- */
@media screen and (max-width: 950px) {

  
}