<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-filterpart></app-filterpart>



			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<div class="favorites" >
					<h2><b>Favorites</b></h2>
					<hr class="hreditprofile">
			

					<div class="favoritesfull">
						<div class="row  favmargin">
							<div class="col-md-6">
								<div class="favbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												<p><span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-bookmark colororange" aria-hidden="true"></i> &nbsp; Accurate Info</span> </p>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="favbox ">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
						</div>



						<div class="row  favmargin">
							<div class="col-md-6">
								<div class="favbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart inactive.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												<p><span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-bookmark colororange" aria-hidden="true"></i> &nbsp; Accurate Info</span> </p>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="favbox ">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<!-- <div id="triangle-topright"> </div> -->
										<!-- <div class="featured">Featured</div> -->
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart inactive.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
