<div class="homecenterpart">
	<div class="row">
		<div class="col-8">
			<h1><b>Developers</b></h1>
		</div>
		<div class="col-4">
			<form id="content">
			  <input type="text" name="input" class="input" id="search-input">
			  <button type="reset" class="search" id="search-btn"></button>
			</form>
		</div>
	</div>
	
	<hr class="hrgrey">
	<h3><b> Palm Hills Developments</b></h3>
	<h4 class="colorlightblue">New Project</h4>
	<div class="carouselpadding">
	 
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		      <div class="item active welcomebox">
		        
				<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  class="carouselimg">
				<div class="welcometolodge"><img src="./assets/images/whitelogoCenterd.svg" class="imgcenterlogo"></div>
		      </div>

		      <div class="item welcomebox">
		        <div class="welcometolodge"><img src="./assets/images/12250.png" class="imgcenterlogo"></div>
				<img src="./assets/images/maxresdefault.jpg" class="carouselimg">
		      </div>
		    
		      <div class="item">
		        
				<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  class="carouselimg">
		      </div>
		    </div>
		</div>
	</div>
	<br>
	<hr class="hrgrey">
	<br>
	<div class="row">
		<div class="col-12">
			<h4><b>Discover What’s New</b></h4>
		</div>
		
		
	</div>
	<br>
	<div class="partners">
    	<div class="row">
    		<div class="col-2">
    			<img src="./assets/images/akamlogo.png" class="logorightimg" >
    		</div>
    		<div class="col-8">
    			<h6><b>Akam</b></h6>
    			<p><button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Bedroom </button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Bathroom</button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Livingroom </button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Kitchen </button></p>


    		</div>
    		<div class="col-2 arrowicon">
    			<i class="fa fa-angle-right " aria-hidden="true"></i>
    		</div>
    		
    	</div>
    	<hr class="hrgrey">

    	<div class="row">
    		<div class="col-2">
    			<img src="./assets/images/ashleylogo.png" class="logorightimg" >
    		</div>
    		<div class="col-8">
    			<h6><b>Ashely</b></h6>
    			<p><button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Bedroom </button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Bathroom</button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Livingroom </button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Kitchen </button></p>

    		</div>
    		<div class="col-2 arrowicon">
    			<i class="fa fa-angle-right " aria-hidden="true"></i>
    		</div>
    		
    	</div>
    	<hr class="hrgrey">
    	<div class="row">
    		<div class="col-2">
    			<img src="./assets/images/ikealogo.jpg" class="logorightimg" >
    		</div>
    		<div class="col-8">
    			<h6><b>IKea</b></h6>
    			<p><button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Bedroom </button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Bathroom</button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Livingroom </button> <button class="placesbackrgoundwhite placesbackrgoundwhite-{{'lang'|translate}}"> Kitchen </button></p>

    		</div>
    		<div class="col-2 arrowicon">
    			<i class="fa fa-angle-right " aria-hidden="true"></i>
    		</div>
    		
    	</div>
    	<hr class="hrgrey">
    </div>
			        		

	<br>

	


</div>