.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}
.quicksearch-en{
	
  padding: 25px 22px 43px 6px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.searchfeatures,.searchfeatures a{
	text-align: center;
  margin-top: 15px;
  color: #1da1f2;
  font-size: 13px;
}
.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 40px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}



.carouselpadding{
  margin: 24px 0 0 0 ;
}
.homecenterpart .carousel-inner{
  border-radius: 4px;
}
.homecenterpart .item{
  height: 320px;
}
.homecenterpart .carouselimg{
  width: 100%;
  height: 100%;
 }

.homecenterpart .carousel-indicators li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.homecenterpart .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 9px;
  height: 9px;
}


.welcometolodge {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}
.logo-bottom-en {
  position: absolute;
  bottom: 20px;
  left: 16px;
}


.welcomebox {
  /*position: relative;
  text-align: center;*/
  color: white;
}


.imgcenterlogo{ 
  width: 30%;
  margin-top: -16px;
}

.imgbottomlogo{
  width: 75px;
}




.discover .carousel-indicators li{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.discover .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 8px;
  height: 8px;
}


.discoverslider{
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  width: 100%;
  text-align: center;
}


.discoversliderlogo{
  width: 35%;
}

.logorightimg{
  width: 50px;
  border-radius: 6px;
  height: 50px;
  box-shadow: 2px 1px 3px 1px #67676b66;
}

.placesbackrgoundwhite{
  background-color: #fff;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgoundwhite-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}





/*slick  slide */
.slick-slider {
  width: 105%;
  margin: auto;
  margin-bottom: 45px;

  
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll 0 0;
  left: -33px;
}
 
.next-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll -24px 0px;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}

.marginslider{
  margin: 0 8px 20px 0;
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
}

.imgfeltured{
  height: 140px;
/*  border-radius: 5px;*/
}
.slick-initialized .slick-slide{
  padding-right: 20px;
}
.slickdescription{
  padding: 8px 8px 8px 8px;
}

.slick-initialized .slick-slide:focus{
  outline: none !important;
}

.sizeinch{
  width: 20px;
}
.fontcircle{
  font-size: 8px;
}

.hearttopright {
  position: absolute;
  top: 8px;
  right: 16px;
}

.pricebottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: #fff;
  border-radius: 9px;
  padding: 0 8px;
}

.imgfelturedbox{
  position: relative;
}
.heartwidth{
  width: 22px;
}

/*slick slide*/
.seeall{
  text-align: end;
  color: #1da1f2;
}

.hearticon{
  border: none;
  background: transparent;
}

button:focus{
  outline: none !important;
}
.partners{
  line-height: 2;
}


/* ---------------------- search ---------------------------*/
#content {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-top: 18px;
  border: 3px solid #1da1f2;
  border-radius: 50%;
  background: none;
  color: #1da1f2;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
  padding 0.2s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 20px;
  left: 12px;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
   
}

.search:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 4px;
  background-color: #1da1f2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 9px;
  margin-left: 9px;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  margin-top: -1px;
  margin-left: -12px;
  background-color: #1da1f2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #1da1f2;
  margin-top: -1px;
  margin-left: -12px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 40px;
  border: 2px solid #1da1f2;
  border-radius: 23px;
  background: none;
  color: #1da1f2;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
  padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
  padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
/* ---------------------- search ---------------------------*/


















/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgoundwhite-ar{
  margin: 0 0px 0 8px;
}


