<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				
				<app-quicksearch></app-quicksearch>

			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<div class="privacycenterpart">
					<h4><b>About</b>&nbsp; <img src="./assets/images/logo.png" class="lodgeimglogo"></h4>
					<hr class="hrpraivcy">
					<div class="row">
						<div class="col-6">
							<h5><b>Welcome to our company</b></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-6">
							<img src="./assets/images/about1.jpg" class="aboutlodgelogo">
						</div>
						
					</div>
					<div class="row aboutmargin">
						<div class="col-6">
							<img src="./assets/images/about2.jpg" class="aboutlodgelogo">
							
						</div>
						<div class="col-6">
							<h5><b>Welcome to our company</b></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						
					</div>





				</div>
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<div class="homerightpart">
					<h4><b>Download Lodge App Now</b></h4>
					<p class="colorgrey">Nascetur cubilia sociosqu aliquet ut elit nascetur nullam duis tincidunt nisl non quisque.</p>

					<a class="btn btn--ios" href="#">
			            <svg class="btn__icon btn__icon--apple" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			            preserveAspectRatio="xMidYMid"
			            viewBox="0 0 20 20">
			                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5640259,13.8623047
			        		c-0.4133301,0.9155273-0.6115723,1.3251343-1.1437988,2.1346436c-0.7424927,1.1303711-1.7894897,2.5380249-3.086853,2.5500488
			        		c-1.1524048,0.0109253-1.4483032-0.749939-3.0129395-0.741333c-1.5640259,0.008606-1.8909302,0.755127-3.0438843,0.7442017
			       		 	c-1.296814-0.0120239-2.2891235-1.2833252-3.0321655-2.4136963c-2.0770874-3.1607666-2.2941895-6.8709106-1.0131836-8.8428955
			        		c0.9106445-1.4013062,2.3466187-2.2217407,3.6970215-2.2217407c1.375,0,2.239502,0.7539673,3.3761597,0.7539673
			        		c1.1028442,0,1.7749023-0.755127,3.3641357-0.755127c1.201416,0,2.4744263,0.6542969,3.3816528,1.7846069
			        		C14.0778809,8.4837646,14.5608521,12.7279663,17.5640259,13.8623047z M12.4625244,3.8076782
			       			c0.5775146-0.741333,1.0163574-1.7880859,0.8571167-2.857666c-0.9436035,0.0653076-2.0470581,0.6651611-2.6912842,1.4477539	C10.0437012,3.107605,9.56073,4.1605835,9.7486572,5.1849365C10.7787476,5.2164917,11.8443604,4.6011963,12.4625244,3.8076782z"/>
			            </svg>
			            <span class="btn__text">Download on the</span> 
			            <span class="btn__storename">App Store</span>
			        </a>

			        <a class="btn btn--android" href="#">
			           <img class="btn__icon" src="https://img.icons8.com/color/48/000000/google-play.png">
			            <span class="btn__text">Get it on</span> 
			            <span class="btn__storename">Google Play</span>
			        </a>

			        <div class="discover">
			        	<h4><b>Discover What’s New</b></h4>


			        	<div class="">
					 
							<div id="myCarousell" class="carousel slide" data-ride="carousel">
							    <!-- Indicators -->
							    <ol class="carousel-indicators">
							      <li data-target="#myCarousell" data-slide-to="0" class="active"></li>
							      <li data-target="#myCarousell" data-slide-to="1"></li>
							      <li data-target="#myCarousell" data-slide-to="2"></li>
							    </ol>

							    <!-- Wrapper for slides -->
							    <div class="carousel-inner">
							      <div class="item active discoverbox">
							        <h5><b>Palm Hills Developments</b></h5>
							        <p class="colorlightblue">New Projects </p>
									<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
									<div class="discoverslider"> <img src="./assets/images/white logo.svg" class="discoversliderlogo"></div>
									
							      </div>

							      <div class="item">
							        <h5><b>Palm Hills Developments</b></h5>
							        <p class="colorlightblue">New Projects </p>
									<img src="./assets/images/Lead-Image-IKEA-770x470.jpg" style="width:100%;">
							      </div>
							    
							      <div class="item">
							        <h5><b>Palm Hills Developments</b></h5>
							        <p class="colorlightblue">New Projects </p>
									<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
							      </div>
							    </div>
							</div>
						</div>
			        </div>

			        <div class="partners">
			        	<h4><b>Our Partners</b></h4>
			        	<div class="row">
			        		<div class="col-2">
			        			<img src="./assets/images/ikealogo.jpg" class="logorightimg" >
			        		</div>
			        		<div class="col-8">
			        			<h6><b>IKea</b></h6>
			        			<p><button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> 6 October </button> <button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> +3 More</button></p>

			        		</div>
			        		<div class="col-2 arrowicon">
			        			<i class="fa fa-angle-right " aria-hidden="true"></i>
			        		</div>
			        		
			        	</div>
			        	<hr class="hrgrey">

			        	<div class="row">
			        		<div class="col-2">
			        			<img src="./assets/images/ikealogo.jpg" class="logorightimg" >
			        		</div>
			        		<div class="col-8">
			        			<h6><b>IKea</b></h6>
			        			<p><button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> 6 October </button> <button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> +3 More</button></p>

			        		</div>
			        		<div class="col-2 arrowicon">
			        			<i class="fa fa-angle-right " aria-hidden="true"></i>
			        		</div>
			        		
			        	</div>
			        	<hr class="hrgrey">
			        </div>
			        		

				</div>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>


