<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<div class="moreleft-{{'lang'|translate}}">
					<h4><b>More</b></h4>
					<div class="row moretextmargin" (click)="toggle('editProfile')"   [ngClass]="editProfile ? 'success' : 'danger'">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-edit-profile"></i>
						</div>
						<div class="col-9">
							<h6>Edit Proﬁle</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        		</div>

					</div>
					
					<div class="row moretextmargin" (click)="toggle('Ads')"   [ngClass]="Ads ? 'success' : 'danger'" >
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-ads"></i>
						</div>
						<div class="col-9">
							<h6>My Ads</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        		</div>

					</div>
					
					<!-- <div class="row moretextmargin" (click)="toggle('Fav')"   [ngClass]="Fav ? 'success' : 'danger'">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-favorite"></i>
						</div>
						<div class="col-9">
							<h6>Favorites</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        		</div>

					</div> -->
					
					<div class="row moretextmargin" (click)="toggle('Help')"   [ngClass]="Help ? 'success' : 'danger'">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-help"></i>
						</div>
						<div class="col-9">
							<h6>Help</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        			
		        		</div>

					</div>

					

					<div class="row moretextmargin" data-toggle="modal" data-target="#signoutpopup">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-logout"></i>
						</div>
						<div class="col-9">
							<h6 class="colorred">Sign Out</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>

					</div>
				</div>




			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<!-- -------------- edit profile ---------------- -->
				<div class="editproﬁle" *ngIf="editProfile">
					<h2><b>Edit Proﬁle</b></h2>
					<hr class="hreditprofile">
					<div class="editproﬁlebox">
						<div class="row">
							<div class="col-4">
								<h4><b>Name</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/name blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Full Name">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<h4><b>Email Address</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/email blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Email Address">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<h4><b>Password</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<h4><b>Phone Number</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									<!-- <input  name="" placeholder=" Password"> -->
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
							</div>
							
						</div>

						<div class="row textcenter">
							<div class="col-12">
								<button mat-raised-button>SAVE</button>
							</div>
							
						</div>
					</div>

					
				</div>
				<!-- ------------ads part---------- -->
				<div class="myads" *ngIf="Ads">
					<h2><b>My Ads</b></h2>
					<hr class="hreditprofile">
					<!-- empty ads  -->

					<!-- <div class="myadsempty">
						<img src="./assets/images/announcement.png" class="noadsimg">
					    <h3 class="noads"><b>No Posted Ads!</b></h3>
					    <h6><b>Seems like you don't</b></h6>
					    <h6><b>post any ads.</b></h6>

					    <div class="row ">
							<div class="col-12">
								<button mat-raised-button>LODGE YOUR PROPERTY</button>
							</div>
							
						</div>
					</div> -->
					<div class="myadsfull">
						<div class="row">
							<div class="col-md-6">
								<div class="adsbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="boost"><img src="./assets/images/flash.png" class="boostimg">&nbsp;  <span>Boost Now</span></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5">
												<span class="colororange"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Under Review</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="adsbox">
									<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5">
												<span class="colorgreen"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Live</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="adsbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5">
												<span class="colorred"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Need Changes</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="adsbox">
									<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5">
												<span class="colorgreen"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Live</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- -------------- my ad detail ---------------- -->
				<div class="myadsdetail" *ngIf="AdsDetail">
					<div class="developerheader">
						<div class="developerheaderwidth">
							<div class="welcomebox2 bg-img">
								<div class="welcometolodge2"><img src="./assets/images/12250.png" class="imgcenterlogo2"></div>
					        	<!-- 
								<img src="./assets/images/maxresdefault.jpg" class="carouselimg"> -->
					        </div>
					       
						</div>
						<div class="developerheadername">
							<div class="row">
								<div class="col-6">
									<p class="font11px colorgrey">1 Day ago</p>
								</div>
								<div class="col-6 align-end">
									<p class="font11px"><img src="./assets/images/fast reply.png" class="fastimg"> <b>Boost Now</b></p>
								</div>
							</div> 

							<div class="row">
								<div class="col-6">
					       			<h3><b>Villa at New Cairo</b></h3>
								</div>
								<!-- <div class="col-3 align-end">
										
								</div> -->
								<div class="col-6 align-end">
									<p><span class="bgorange"> 4.3 <i class="fa fa-star" aria-hidden="true"></i> </span>
									<img src="./assets/images/blue heart border.png" class="socialimg2-{{'lang'|translate}}">
									<img src="./assets/images/share.png" class="socialimg2-{{'lang'|translate}}"></p>
									
								</div>
								
							</div>
							<div class="row">
								<div class="col-12">
									<h5 class="colororange"><b>EGP 7,000,000</b></h5>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<p class="font11px colorgrey">Villa  |  REF: JG9756</p>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<p class="font11px colorgrey"><i class="fa fa-eye" aria-hidden="true"></i> 315 Views</p>
								</div>
								<div class="col-9 align-end">
									<p class="font12px"><b><img src="./assets/images/size.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 200 sqm  <img src="./assets/images/bed.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 3 Bedrooms  <img src="./assets/images/bathroom.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 2 Bathrooms </b></p>
								</div>
							</div>
							<p><button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="fastimg"> Fast Reply </button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-star colororange starsize" aria-hidden="true"></i> Excellent Service</button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-bookmark colororange starsize" aria-hidden="true"></i> Accurate Info</button></p>
					    </div>
					</div>
					<div class="aboutcompany">
						<div class="row">
							<div class="col-12">
								<h3><b>You’ll love it because</b></h3>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<p><img src="./assets/images/floor.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Floor (0)</b></p>
							</div>
							<div class="col-4 textcenter">
								<p><img src="./assets/images/chair.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Furnished</b></p>

							</div>
							<div class="col-4 align-end">
								<p><img src="./assets/images/garden.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Private Garden</b></p>
							</div>
						</div>
						<hr class="hrgrey">

						<div class="row">
							<div class="col-12">
								<h3><b>Location</b></h3>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p><b>Mivida, New Cairo, Cairo</b></p>
							</div>
						</div>
						<br>
						<a href="https://www.google.com.eg/maps?hl=en&tab=wl0"><img src="./assets/images/map.jpg" class="mapimg"></a>

						<hr class="hrgrey">
						<div class="row">
							<div class="col-12">
								<h3><b>Floor Plan</b></h3>
								<p><img src="./assets/images/floorplan.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"> View Floor Plan</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<h3><b>Description</b></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
							</div>
						</div>
						<div class="row textcenter editads">
							<div class="col-12">
								<button mat-raised-button>EDIT</button>
							</div>
						</div>
						<div class="row textcenter">
							<div class="col-12">
								<a class="colorred" href=""data-toggle="modal" data-target="#deactivatepopup"><b>DEACTIVATE</b> </a>
							</div>
						</div>

					</div>

				</div>

				<!-- -------------- Favorites ---------------- -->
				<div class="favorites" *ngIf="Fav">
					<h2><b>Favorites</b></h2>
					<hr class="hreditprofile">
					<!-- empty favorites  -->

					<!-- <div class="myadsempty">
						<img src="./assets/images/empty fav.png" class="noadsimg">
					    <h3 class="noads"><b>No Favorites! </b></h3>
					    <h6><b>Seems like you don't</b></h6>
					    <h6><b>have wishes here.</b></h6>

					    <div class="row ">
							<div class="col-12">
								<button mat-raised-button>EXPLORE LODGES</button>
							</div>
							
						</div>
					</div> -->

					<div class="favoritesfull">
						<div class="row  favmargin">
							<div class="col-md-6">
								<div class="favbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/flash.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												<p><span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-bookmark colororange" aria-hidden="true"></i> &nbsp; Accurate Info</span> </p>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="favbox ">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/flash.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												
											</div>
											
										</div>
									</div>
									<div class="overlay">
										<h2 class="sold">Sold</h2>
									</div>
								</div>
							</div>
						</div>



						<div class="row  favmargin">
							<div class="col-md-6">
								<div class="favbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/flash.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												<p><span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-bookmark colororange" aria-hidden="true"></i> &nbsp; Accurate Info</span> </p>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-6">
								<div class="favbox ">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-7">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-5 textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/flash.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												
											</div>
											
										</div>
									</div>
									<div class="overlay">
										<h2 class="sold">Sold</h2>
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
				<!-- -------------- Help ---------------- -->
				<div class="help" *ngIf="Help">
					<h2><b>Help</b></h2>
					<hr class="hreditprofile">
					

					<div class="helpbody">
						
					    <h2 class="colorblack"><b>Write Feedback </b></h2>
					    <h6><b>We welcome your feedback to improve our services.</b></h6>
					    <img src="./assets/images/feedback.png" class="helpimg">

					    <div class="helpsubject">
					    	<div class="helpsubjectpadding">
								<h5><b>SUBJECT</b></h5>
								<span class="spangrey spangrey-{{'lang'|translate}}">Ads</span> <span class="spangrey spangrey-{{'lang'|translate}}">Payment</span> <span class="spangrey spangrey-{{'lang'|translate}}">Installment</span> <span class="spangrey spangrey-{{'lang'|translate}}">Chat</span> <span class="spangrey spangrey-{{'lang'|translate}}">Contact agent</span> <span class="spangrey spangrey-{{'lang'|translate}}">Other</span>

								<h5><b>AD REFERENCE NO.</b></h5>
								<div class="helpboxdetails">
									
									<input  name="" placeholder="Ad Reference No.">
								</div> 
								<h5><b>YOUR FEEDBACK</b></h5>
								<div class="helpboxdetails">
									
									<textarea  placeholder="Write Somthing..."></textarea>
								</div>
								
								
							</div>
							<button mat-raised-button>SUBMIT</button>


						</div>
						
						 

					</div> 


					



				</div>
				


			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<div class="homerightpart">
					<h4><b>Download Lodge App Now</b></h4>
					<p class="colorgrey">Nascetur cubilia sociosqu aliquet ut elit nascetur nullam duis tincidunt nisl non quisque.</p>

					<a class="btn btn--ios" href="#">
			            <svg class="btn__icon btn__icon--apple" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			            preserveAspectRatio="xMidYMid"
			            viewBox="0 0 20 20">
			                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5640259,13.8623047
			        		c-0.4133301,0.9155273-0.6115723,1.3251343-1.1437988,2.1346436c-0.7424927,1.1303711-1.7894897,2.5380249-3.086853,2.5500488
			        		c-1.1524048,0.0109253-1.4483032-0.749939-3.0129395-0.741333c-1.5640259,0.008606-1.8909302,0.755127-3.0438843,0.7442017
			       		 	c-1.296814-0.0120239-2.2891235-1.2833252-3.0321655-2.4136963c-2.0770874-3.1607666-2.2941895-6.8709106-1.0131836-8.8428955
			        		c0.9106445-1.4013062,2.3466187-2.2217407,3.6970215-2.2217407c1.375,0,2.239502,0.7539673,3.3761597,0.7539673
			        		c1.1028442,0,1.7749023-0.755127,3.3641357-0.755127c1.201416,0,2.4744263,0.6542969,3.3816528,1.7846069
			        		C14.0778809,8.4837646,14.5608521,12.7279663,17.5640259,13.8623047z M12.4625244,3.8076782
			       			c0.5775146-0.741333,1.0163574-1.7880859,0.8571167-2.857666c-0.9436035,0.0653076-2.0470581,0.6651611-2.6912842,1.4477539	C10.0437012,3.107605,9.56073,4.1605835,9.7486572,5.1849365C10.7787476,5.2164917,11.8443604,4.6011963,12.4625244,3.8076782z"/>
			            </svg>
			            <span class="btn__text">Download on the</span> 
			            <span class="btn__storename">App Store</span>
			        </a>

			        <a class="btn btn--android" href="#">
			           <img class="btn__icon" src="https://img.icons8.com/color/48/000000/google-play.png">
			            <span class="btn__text">Get it on</span> 
			            <span class="btn__storename">Google Play</span>
			        </a>

			        <div class="discover">
			        	<h4><b>Discover What’s New</b></h4>


			        	<div class="">
					 
							<div id="myCarousell" class="carousel slide" data-ride="carousel">
							    <!-- Indicators -->
							    <ol class="carousel-indicators">
							      <li data-target="#myCarousell" data-slide-to="0" class="active"></li>
							      <li data-target="#myCarousell" data-slide-to="1"></li>
							      <li data-target="#myCarousell" data-slide-to="2"></li>
							    </ol>

							    <!-- Wrapper for slides -->
							    <div class="carousel-inner">
							      <div class="item active discoverbox">
							        <h5><b>Palm Hills Developments</b></h5>
							        <p class="colorlightblue">New Projects </p>
									<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
									<div class="discoverslider"> <img src="./assets/images/white logo.svg" class="discoversliderlogo"></div>
									
							      </div>

							      <div class="item">
							        <h5><b>Palm Hills Developments</b></h5>
							        <p class="colorlightblue">New Projects </p>
									<img src="./assets/images/Lead-Image-IKEA-770x470.jpg" style="width:100%;">
							      </div>
							    
							      <div class="item">
							        <h5><b>Palm Hills Developments</b></h5>
							        <p class="colorlightblue">New Projects </p>
									<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;">
							      </div>
							    </div>
							</div>
						</div>
			        </div>

			        <div class="partners">
			        	<h4><b>Our Partners</b></h4>
			        	<div class="row ">
			        		<div class="col-2">
			        			<img src="./assets/images/ikealogo.jpg" class="logorightimg" >
			        		</div>
			        		<div class="col-8">
			        			<h6><b>IKea</b></h6>
			        			<p><button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> 6 October </button> <button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> +3 More</button></p>

			        		</div>
			        		<div class="col-2 arrowicon">
			        			<i class="fa fa-angle-right " aria-hidden="true"></i>
			        		</div>
			        		
			        	</div>
			        	<hr class="hrgrey">

			        	<div class="row">
			        		<div class="col-2">
			        			<img src="./assets/images/ikealogo.jpg" class="logorightimg" >
			        		</div>
			        		<div class="col-8">
			        			<h6><b>IKea</b></h6>
			        			<p><button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> 6 October </button> <button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> +3 More</button></p>

			        		</div>
			        		<div class="col-2 arrowicon">
			        			<i class="fa fa-angle-right " aria-hidden="true"></i>
			        		</div>
			        		
			        	</div>
			        	<hr class="hrgrey">
			        </div>
			        		

				</div>
				
			</div>
		</div> 
	</div>
</div>




<app-navbar></app-navbar>
<app-footer></app-footer>

<app-popupsignout></app-popupsignout>
<app-popupdeactivatepost></app-popupdeactivatepost>