@font-face {
  font-family: 'Lodge-icons';
  src:  url('fonts/Lodge-icons.eot?son4li');
  src:  url('fonts/Lodge-icons.eot?son4li#iefix') format('embedded-opentype'),
  url('fonts/Lodge-icons.ttf?son4li') format('truetype'),
  url('fonts/Lodge-icons.woff?son4li') format('woff'),
  url('fonts/Lodge-icons.svg?son4li#Lodge-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lodge-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ads:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-edit-profile:before {
  content: "\e901";
  color: #1da1f2;
}

.icon-favorite:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-help:before {
  content: "\e904";
  color: #1da1f2;
}

.icon-login:before {
  content: "\e906";
  color: #8d8d8d;
}
.icon-logout:before {
  content: "\e907";
  color: #ff0015;
}


.padd-en{
  padding-right: 0px;
}









.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}



.searchfeatures,.searchfeatures a{
	text-align: center;
  margin-top: 15px;
  color: #1da1f2;
  font-size: 13px;
}
.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.moreleft-en{
	
  padding: 25px 22px 43px 6px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}



.btn {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
  border-radius: 6px;
  color: #fff;
  fill: #fff;
  background: #000;
  line-height: 1em;
  min-width: 127px;
  height: 45px;
  transition: 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $btn-font;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}
.btn:hover,
.btn:focus {
  background: #111;
  color: #fff;
  fill: #fff;
  border-color: #fff;
  -webkit-transform: scale(1.01) translate3d(0, -1px, 0);
  transform: scale(1.01) translate3d(0, -1px, 0);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.btn:active {
  outline: 0;
  background: #353535;
  transition: none;
}
.btn__icon,
.btn__text,
.btn__storename {
  display: inline-block;
  vertical-align: top;
}
.btn__icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 2px;
}

.btn__text {
  letter-spacing: 0.08em;
  margin-top: -0.1em;
  font-size: 8px;
}
.btn__storename {
  display: block;
  margin-left: 33px;
  margin-top: -17px;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.stage > h1 {
  margin-top: -5%;
  margin-bottom: 5%;
  font-family: Avenir, Trebuchet, 'Trebuchet MS', sans-serif;
  font-size: 7vw;
  font-weight: 400;
  color: #c67d0c;
}
@media (min-width: 50em) {
  .stage > h1 {
    font-size: 5vw;
  }
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2"), url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff") format('woff'), url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf") format('truetype');
}


.discover{
  margin-top: 40px;
  margin-bottom: 40px;
}




 

.homecenterpart .carousel-indicators li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.homecenterpart .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 9px;
  height: 9px;
}


.welcometolodge {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}
.logo-bottom-en {
  position: absolute;
  bottom: 20px;
  left: 16px;
}


.welcomebox {
  /*position: relative;
  text-align: center;*/
  color: white;
}


.imgcenterlogo{ 
  width: 22%;
  margin-top: -16px;
}

.imgbottomlogo{
  width: 75px;
}




.discover .carousel-indicators li{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.discover .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 8px;
  height: 8px;
}


.discoverslider{
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  width: 100%;
  text-align: center;
}


.discoversliderlogo{
  width: 35%;
}

.logorightimg{
  width: 50px;
  border-radius: 6px;
  height: 50px;
}

.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}


.moretextmargin{
  margin-top: 10px;
  color: #777777;
  cursor: context-menu;
}

.hrmoregrey{
  border-top: 1.5px solid #dedede;
}


.arrowmoreicon{
	font-size: 17px;
  color: #777777;
  text-align: end;
}

.colorred{
	color: #ff0015;
}

.editproﬁle{
  padding: 56px 25px 43px 15px;
}

.hreditprofile{
  border-top: 1.5px solid #dedede;
}

.boxdetails{
  background: #fff;
  border: 1px solid #dedede;
  padding: 6px 2px 7px 2px;
  font-size: 12px;
  margin-bottom: 55px;
}

.boxdetails input{
	background: transparent;
	border: none;
	width: 80%;
}

.boxdetailsimg{
	margin: 0 8px 0 8px;
  width: 20px;
  padding: 0 0 0px 0px;
}


input:focus {
  outline:none !important;
}
.editproﬁlebox{
    margin: 25px 0 0 0;
}

.editproﬁlebox::ng-deep.mat-icon {
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
  height: 20px;
  width: 20px;
  color: #777777;
}


.textcenter{
	text-align: center;
}



.editproﬁlebox::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 70%;
  border-radius: 0;
}


.myads{
	padding: 56px 25px 43px 15px;
}

.myadsempty{
	text-align: center;
  color: #777777;
}

.noads{
	font-family: Pacifico;
	color: #1da1f2;
}

.myadsempty::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 70%;
  border-radius: 0;
	margin-top: 60px;
}

.noadsimg{
	width: 35%;
  margin: 25px 0 35px 0;
}


.success{
	color: #000;
}


.danger{
	color: #777777;
}

.myadsfull{
	margin: 25px 0 35px 0;
}


.adsbox{
	background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
  margin: 0px 0 35px 0;
}

.adsboxtext{
  padding: 10px 8px 10px 8px;
  font-size: 11px;
  color: #777777;
}


.adsimg{
	width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.colororange{
	color: #F97304;
}
.colorblack{
	color: #000;
}
.colorgreen{
	color: #54c242;
}
.colorred{
	color: #ff0015;
}
.price13px{
  font-size: 13px;
  text-align: end;
}

.imgsize{
  width: 15px;
  margin-bottom: 7px;
}
.textend{
	text-align: end;
}
.adsimgbox{

}

.ratingt {
  position: absolute;
  top: 12px;
  left: 22px;
  background: #F97304;
  color: #fff;
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  border-radius: 9px;
}


#triangle-topright {
  width: 0;
  top: 0;
  height: 0;
  right: 15px;
  position: absolute;
  border-top: 90px solid #F97304;
  border-left: 90px solid transparent;
  color: #fff;
}
.featured{
  position: absolute;
  top: 20px;
  right: 17px;
  color: #fff;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(49deg);
  font-family: Pacifico;
}  

.boost{
	position: absolute;
  bottom: 183px;
  right: 22px;
  color: #000;
  background: #fff;
  padding: 1px 6px 1px 2px;
  font-size: 10px;
}

.boostimg{
	width: 16px;
}
/* ------------------------- favorits ----------------- */

.favorites{
	padding: 56px 25px 43px 15px;
}

.favoritesfull{
	margin: 25px 0 35px 0;
}
.heart{
	position: absolute;
  top: 155px;
  right: 24px;
}

.heartimg{
	width: 46px;
}

.backgroundgrey{
  background: #dedede;
  padding: 1px 11px 4px 5px;
}

.backgroundgrey-en{
  margin: 0 10px 0 0;
}

.favbox{
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
}
.favmargin{
  margin: 0px 0 35px 0;
}

.sold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Pacifico;
}
.overlay{
  position: absolute;
  width: 93%;
  height: 100%;
  background-color: rgba(44, 37, 37, 0.39);
  top: 0;
  border-radius: 6px;
}



/* ------------------------- Help ----------------- */

.help{
  padding: 56px 25px 43px 25px;
}

.helpbody{
  text-align: center;
  color: #777777;
  margin-top: 50px;
}


.helpimg{
  width: 13%;
  margin: 40px 0 35px 0;
}

.helpsubject{
  background-color: #fff;
  text-align: start;
  margin: 2px 10px 0 10px;
  box-shadow: 2px 6px 4px 2px #67676b2b;
  color: #000;
}
.helpsubjectpadding{
  padding: 20px 25px 0 25px;
}
.spangrey{
  background-color: #dedede;
  color: #777777;
  padding: 1px 18px 1px 18px;
  font-size: 11px;
}

.spangrey-en{
  margin: 0 15px 0px 0;
  line-height: 4;
}

.helpboxdetails {
  background: #fff;
  color: #777777;
  border: 1px solid #dedede;
  padding: 6px 2px 7px 2px;
  font-size: 13px;
  margin: 18px 0 18px 0px;
}
.helpboxdetails input{
  background: transparent;
  border: none;
  width: 99%;
  padding: 0 6px 0 6px;
}

.helpboxdetails textarea {
  width: 100%;
  height: 97px;
  border: none;
  overflow: hidden;
  text-align: start;
  padding: 0 6px 0 6px;
}

textarea:focus {
  outline:none !important;
}

textarea::placeholder {
  color: #777777;
}
.helpsubject::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 100%;
  border-radius: 0;
  margin-top: 20px;
}



/* ------------------- ads details -------------------------- */

.align-end{
  text-align: end;
}
.welcometolodge2 {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}


.welcomebox2 {
  /*text-align: center;*/
  color: white;
  position: relative;
}


.imgcenterlogo2{ 
  width: 30%;
  margin-top: -16px;
}
.developerheader{
  background-color: #fff;
  box-shadow: 0px 3px 3px 2px #67676b54;
  
}
.developerheaderwidth{
  height: 350px;
}
.developerheader .carouselimg{
  width: 100%;
  height: 100%;
}


.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/../assets/images/maxresdefault.jpg) center center no-repeat;
  background-size: cover;
}
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #fff ,transparent, transparent);
  opacity: 0.9;
}
.developerheadername{
  padding: 20px 15px 25px 15px;

}
.bgorange{
  background-color: #F97304;
  border-radius: 15px;
  color: #fff;
  font-size: 11px;
  padding: 4px 7px 4px 7px;
  margin: 4px 8px 0px 8px;
  text-align: center;
 
}
.socialimg2-en{
  width: 24px;
  margin: 4px 0px 6px 14px;
}

.placesbackrgound2{
  background-color: #ededed;
  padding: 3px 6px 3px 6px;
  color: #777777;
  min-width: 80px;
  border: none;
  font-size: 11px;
}
.placesbackrgound2-en{
  margin: 0 10px 0 0px;
}


button:focus{
  outline: none !important;
}

.aboutcompany{
  padding: 50px 18px 30px 18px;
  font-size: 13px;
}
.aboutcompanyimg{
  width: 100%;
  margin: 3px 0 50px 0;
  border-radius: 4px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}
.seeall{
  text-align: end;
  color: #1da1f2;
}
.fastimg{
  width: 14px;
}

.starsize{
  font-size: 13px;
}

.font11px{
  font-size: 11px;
}
.font12px{
  font-size: 12px;
}

.bedroomimg-en{
  width: 20px;
  margin: 0px 0px 6px 30px;
}

.mapimg{
  width: 100%;
  margin: 1px 0 18px 0;
}
.floorplanimg{
  width: 17px;
}
.floorplanimg-en{
  margin: 0 8px 0px 0px;
}

.editads::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  border-radius: 0;
  width: 66%;
  margin: 40px 0 15px 0;
}








/*arabic css */
.padd-ar{
  padding-left: 0px;
}
.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.moreleft-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}

.backgroundgrey-ar{
  margin: 0 0px 0 10px;
}

.spangrey-ar{
  margin: 0 0px 0px 15px;
}

.placesbackrgound2-ar{
  margin: 0 0px 0 10px;
}
.bedroomimg-ar{
  width: 20px;
  margin: 0px 30px 6px 0px;
}
.socialimg2-ar{
  width: 24px;
  margin: 4px 14px 6px 0px;
}

.floorplanimg-ar{
  margin: 0px 0px 0px 8px;
}