 <div class="container">
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resetepopup">
    Open modal
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="resetepopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-6 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-6 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        			<br><br>
		            <h3 class="colorblue"><b>SIGN IN</b></h3>
		            <p>Submit your email address to reset password</p>
		            
		            <div class="box">
		            	
						<div class="row">
							<div class="col-12">
								<div class="boxdetails ">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
								
								
							</div>
							
						</div>
		            </div>
		            
		            <div class="signinbutt">
		            	<button mat-raised-button>SUBMIT</button>
		            </div>
		           
		            


		          <!-- <button mat-button>Done <img src="./assets/images/circle arrow.png" class="doneimg"></button> -->
		           
        		</div>
        	</div>
         
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
  
</div>



