.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{

  border-right: 1px solid #dedede;
}
.paddingfeatured{
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.cursorarrow{
  cursor: context-menu;
}

.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}
.align-center{
  text-align: -webkit-center;
}
.textcenter{
  text-align: center;
}
.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}
.align-end{
  text-align: end;
}


/* ----------------------------------    center part ------------------------------ */
.yourlodge{
  padding: 53px 15px 0px 15px;
}

.typeimg{
  width: 19px;
}
.slidepadding{
  padding: 0 15px 100px 15px;
}
.boxdetails{
  background: #fff;
  border: 1px solid #dedede;
  padding: 6px 7px 7px 7px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 3px 2px 4px 1px #dedede9e;
}
.boxdetails textarea {
  width: 100%;
  border: none;
  height: 73px;
}
.boxdetails input{
  background: transparent;
  border: none;
  width: 80%;
}
.marginrow{
  margin-top: 60px;
}
.boxdetails::ng-deep.mat-select-value{
  color: #777;
}
.boxdetails::ng-deep.mat-select-arrow{
  color: #777;
}
.types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #03A9F4;
}
.types::ng-deep.mat-radio-outer-circle{
  border-color: #ededed;
}

.types::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .types::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .types::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.types::ng-deep.mat-radio-label{
  /*margin-top: 6px;*/
}
.types::ng-deep.mat-radio-label-content{
  color:  #777; 
  font-weight: 500;
}
.findlodge::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  width: 66%;
  border-radius: 0;
  margin-top: 30px;
}


.loadimg{
  width: 47px;
  margin-top: -20px;
}

/* ---------------------- steper ------------------ */

.check{
  border: 1.2px solid #1da1f2;
  text-align: center;
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
}
.checkactive{
  border: 1.2px solid #1da1f2;
  text-align: center;
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
  background: #1da1f2;
  color: #fff;
}
.paddingzero{
  padding: 0;
}
.hrstepergrey{
  border-top: 1.5px solid #ededed;
  width: 164%;
  margin-left: -20px;
}
.hrsteperblue{
  border-top: 1.5px solid #1da1f2;
  width: 164%;
  margin-left: -20px;
}






/* ---------------------- steper ------------------ */
.rentimg{
  width: 40px;
}
.margincol{
  margin-top: 12px;
}
.margrow{
  margin-top: 25px;
}
.margrow1{
  margin-top: 40px;
}
.borderrentcar-en{
  border-right: 1.5px solid #ededed;
}


/* ---------------------- map ------------------ */
.mapouter{position:relative;text-align:right;height:230px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:230px;width:100%;}


/* ---------------------- map ------------------ */
.loadingimg{
  width: 58px;
  height: 52px;
  border-radius: 4px;
  margin: 0px 5px 8px 5px;
}
.img_wrp {
  display: inline-block;
  position: relative;
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 7px;
}

/* ----------------------------------    center part ------------------------------ */
/*arabic css */

.paddingquick-ar{
 
  border-left: 1px solid #dedede;
}


.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}

.borderrentcar-ar{
  border-left: 1.5px solid #ededed;
}

