<div>

	<div class="developerheader">
		<div class="developerheaderwidth">
			<div class="welcomebox bg-img">
				<div class="welcometolodge"><img src="./assets/images/12250.png" class="imgcenterlogo"></div>
	        	<!-- 
				<img src="./assets/images/maxresdefault.jpg" class="carouselimg"> -->
	        </div>
	       
		</div>
		<div class="developerheadername">
			<div class="row">
				<div class="col-6">
	       			<h3><b>IKIA</b><span class="bgorange"> 4.3 <i class="fa fa-star" aria-hidden="true"></i> </span></h3>
				</div>
				<div class="col-6 align-end">
					<img src="./assets/images/locationbg.png" class="socialimg2">
					<img src="./assets/images/phonebg.png" class="socialimg2">
					<img src="./assets/images/websitebg.png" class="socialimg2">
					<img src="./assets/images/facebookbg.png" class="socialimg2">
				</div>
				
			</div>
			<p><button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> Bedroom </button> <button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> Bathroom</button> <button class="placesbackrgound placesbackrgound-{{'lang'|translate}}"> Kitchen</button></p>
	    </div>
	</div>
	<div class="aboutcompany">
		<div class="row">
			<div class="col-6">
				<h3><b>Welcome to our company</b></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-6">
				<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="aboutcompanyimg">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="aboutcompanyimg">
			</div>
			<div class="col-6">
				<h3><b>Welcome to our company</b></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<hr class="hrgrey">

		<div class="row">
			<div class="col-8">
				<h4><b>Featured Lodges</b></h4>
			</div>
			<div class="col-4 seeall">
				<p ><b>See All</b></p>
			</div>
			
		</div>
		<br>

		<ngx-slick-carousel class="carousel" 
				  #slickModal="slick-carousel" 
				  [config]="slideConfig" 
				  (init)="slickInit($event)"
				  (breakpoint)="breakpoint($event)"
				  (afterChange)="afterChange($event)"
				  (beforeChange)="beforeChange($event)">
				<div ngxSlickItem *ngFor="let slide of slides" class="slide">
					<div class="marginslider">
						<div class="imgfelturedbox">
							<img src="{{ slide.img }}" width="100%" class="imgfeltured">
							<div class="hearttopright"> 
								<!-- <img src="./assets/images/white heart border.png" class="heartwidth">  -->

								<button class="hearticon" onclick="document.getElementById('myImage').src='./assets/images/white heart filled.png'"><img id="myImage" src="./assets/images/white heart border.png" class="heartwidth"></button>

							</div>
							<div class="pricebottomright"> <span class="colorgrey"><b class="colorlightblue">EGP 1,000 </b></span> / week</div>
						</div>
						<div class="slickdescription">
							<h5><b>Villa</b></h5>
							<p class="colorgrey">Mivida, New Cairo,Cairo</p>
							<div class="row">
								<div class="col-1">
									<img src="./assets/images/size.png" class="sizeinch">
								</div>
								<div class="col-10">
									<span class="colorgrey"> 700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms</span> 
								</div>
								
							</div>
							 
						</div>
				        
					</div>
				
				</div>
		</ngx-slick-carousel>

	</div>

</div>