.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}
.quicksearch-en{
	
  padding: 25px 22px 43px 6px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.placesimg{	
  width: 100%;
  border-radius: 7px;
  height: 86px;
  margin-bottom: 22px;
}

/*.placesimg:hover,.placesimg:active{	
    border: 3px solid #1da1f2;
}*/
.imgbox:hover>.placesimg ,.imgbox:hover>.morebox {
  border: 3px solid #1da1f2;
}

.centeredtitle {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -50%);
  cursor: context-menu;
}
.imgbox {
  position: relative;
  text-align: center;
  color: white;
}
.morebox{	
  width: 100%;
  border-radius: 7px;
  height: 86px;
  margin-bottom: 22px;
  background-color: #6ecdf5; 
	background-image: linear-gradient(to bottom, #6ecdf5 , #0084bd);
}
/*.morebox:hover,.morebox:active{	
    border: 3px solid #1da1f2;
}*/

.types{

}
.units{
	margin-bottom: 42px;
}
.types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
	border-color: #03A9F4;
}
.types::ng-deep.mat-radio-outer-circle{
	border-color: #ededed;
}

.types::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .types::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .types::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.types::ng-deep.mat-radio-label{
  margin-top: 6px;
}

.units::ng-deep.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{
 	background-color: #03A9F4;
}
.units::ng-deep.mat-checkbox-frame{
	border-color: #ededed;
}

.units::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .units::ng-deep.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #03A9F4;
}


.quicksearch::ng-deep.mat-raised-button{
	background: #1da1f2;
  color: #fff;
  width: 100%;
  border-radius: 0;
}
.searchfeatures,.searchfeatures a{
	text-align: center;
  margin-top: 15px;
  color: #1da1f2;
  font-size: 13px;
}
.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}



.btn {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
  border-radius: 6px;
  color: #fff;
  fill: #fff;
  background: #000;
  line-height: 1em;
  min-width: 127px;
  height: 45px;
  transition: 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $btn-font;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}
.btn:hover,
.btn:focus {
  background: #111;
  color: #fff;
  fill: #fff;
  border-color: #fff;
  -webkit-transform: scale(1.01) translate3d(0, -1px, 0);
  transform: scale(1.01) translate3d(0, -1px, 0);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.btn:active {
  outline: 0;
  background: #353535;
  transition: none;
}
.btn__icon,
.btn__text,
.btn__storename {
  display: inline-block;
  vertical-align: top;
}
.btn__icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 2px;
}

.btn__text {
  letter-spacing: 0.08em;
  margin-top: -0.1em;
  font-size: 8px;
}
.btn__storename {
  display: block;
  margin-left: 33px;
  margin-top: -17px;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.stage > h1 {
  margin-top: -5%;
  margin-bottom: 5%;
  font-family: Avenir, Trebuchet, 'Trebuchet MS', sans-serif;
  font-size: 7vw;
  font-weight: 400;
  color: #c67d0c;
}
@media (min-width: 50em) {
  .stage > h1 {
    font-size: 5vw;
  }
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2"), url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff") format('woff'), url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf") format('truetype');
}


.discover{
  margin-top: 40px;
  margin-bottom: 40px;
}



.imgcenterlogo{ 
  width: 22%;
  margin-top: -16px;
}

.imgbottomlogo{
  width: 75px;
}




.discover .carousel-indicators li{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.discover .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 8px;
  height: 8px;
}


.discoverslider{
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  width: 100%;
  text-align: center;
}


.discoversliderlogo{
  width: 35%;
}

.logorightimg{
  width: 50px;
  border-radius: 6px;
  height: 50px;
}

.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}





.hrpraivcy{
  border-top: 1.5px solid #dedede;
}


.privacycenterpart {
  padding: 50px 25px 43px 15px;
  font-size: 13px;
}





















/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


