<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-filterpart></app-filterpart>



			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured">
				<div class="payment textcenter">
					<p>MONTHLY PAYMENT</p>
					<h2 class="font50">0</h2>
					<p>EGP</p>
				</div>
				<div class="calc" >
					<div class="row marginrow">
						<div class="col-4">
							<h4><b>Property Price</b></h4>
						</div>
						<div class="col-8">
							<div class="boxdetails">
								<div class="row">
									<div class="col-6">
										<p>EGP</p>
									</div>
									<div class="col-6">
										<input  name="" placeholder="0">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row marginrow">
						<div class="col-4">
							<h4><b>Down Payment</b></h4>
						</div>
						<div class="col-8">
							<div class="boxdetails">
								<div class="row ">
									<div class="col-6">
										<p>EGP</p>
									</div>
									<div class="col-6">
										<input  name="" placeholder="0">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-4">
							<h4><b>Interest</b></h4>
						</div>
						<div class="col-8">
							<div class="boxdetails">
								<div class="row">
									<div class="col-6">
										<p>Per Year</p>
									</div>
									<div class="col-6">
										<input  name="" placeholder="0%">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row marginrow">
						<div class="col-4">
							<h4><b>Number Of Years</b></h4>
						</div>
						<div class="col-8 filterprice">
							<ng5-slider [(value)]="value" [options]="options"></ng5-slider>
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-12 textcenter">
							<img src="./assets/images/calculator.png" class="calcimg">
						</div>
					</div>
					<div class="row marginrow">
						<div class="col-12 textcenter">
							<button mat-raised-button><b>FIRE A REQUEST</b></button>
						</div>
					</div>

				</div>	
				
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>

