.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured{
  padding: 0;
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.cursorarrow{
  cursor: context-menu;
}

.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}

.textcenter{
  text-align: center;
}
.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}


.align-end{
  text-align: end;
}



/* ----------------------- center part ---------------------------- */
.payment{
  background-color: #1da1f2;
  color: #fff;
  font-size: 28px;
  padding: 64px 0px 40px 0px;
}

.font50{
  font-size: 50px;
}
.calc{
  padding: 45px 45px 45px 45px;
}

.boxdetails{
  background: #fff;
	border: 1px solid #dedede;
	padding: 8px 7px 1px 7px;
	font-size: 14px;
	color: #777;
	border-radius: 3px;
	box-shadow: 3px 2px 4px 1px #dedede9e;
}

.boxdetails input{
	background: transparent;
	border: none;
	width: 80%;
}
.marginrow{
  margin-top: 60px;
}
/* --------------- slider -----------------*/
.filterprice::ng-deep.ng5-slider .ng5-slider-pointer{
  background-color: transparent !important;
}
.filterprice::ng-deep.ng5-slider .ng5-slider-selection {
  z-index: 2;
  background: #1da1f2 !important;
  border-radius: 2px;
}

.filterprice::ng-deep.ng5-slider.animate .ng5-slider-bubble.ng5-slider-limit {
  -webkit-transition: opacity linear .3s;
  transition: opacity linear .3s;
  bottom: -25px !important;
}


.filterprice::ng-deep.ng5-slider .ng5-slider-pointer:after {
  content: '';
  width: 12px !important;;
  height: 12px!important;;
  position: absolute;
  top: 11px !important;;
  left: 11px !important;;
  border-radius: 50% !important;;
  background: #fff;
  box-shadow: 2px 0px 6px 3px #aeaeae78;
}
.filterprice::ng-deep.ng5-slider .ng5-slider-bubble {

  font-size: 10px;
}
.filterprice::ng-deep.ng5-slider {
  margin: 22px 0 22px;
}
.filterprice::ng-deep.ng5-slider .ng5-slider-bar {
  background: #777;
}
/* ------------------------- slider ---------------------------*/
.calc::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  width: 66%;
  border-radius: 0;
}
.calcimg{
  width: 50px;
}

/* ----------------------- center part ---------------------------- */



/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}


.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}



