.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}




.myadsfull{
  margin: 25px 0 35px 0;
}


.adsbox{
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
  margin: 0px 0 35px 0;
}

.adsboxtext{
  padding: 10px 8px 10px 8px;
  font-size: 11px;
  color: #777777;
}


.adsimg{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}
.price13px{
  font-size: 13px;
  text-align: end;
}

.imgsize{
  width: 15px;
  margin-bottom: 7px;
}
.textend{
  text-align: end;
}
.adsimgbox{

}

.ratingt {
  position: absolute;
  top: 12px;
  left: 22px;
  background: #F97304;
  color: #fff;
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  border-radius: 9px;
}


#triangle-topright {
  width: 0;
  top: 0;
  height: 0;
  right: 15px;
  position: absolute;
  border-top: 90px solid #F97304;
  border-left: 90px solid transparent;
  color: #fff;
}
.featured{
  position: absolute;
  top: 20px;
  right: 17px;
  color: #fff;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(49deg);
  font-family: Pacifico;
}  

.boost{
  position: absolute;
  bottom: 183px;
  right: 22px;
  color: #000;
  background: #fff;
  padding: 1px 6px 1px 2px;
  font-size: 10px;
}

.boostimg{
  width: 16px;
}

/* ------------------------- favorits ----------------- */

.favorites{
  padding: 56px 25px 43px 15px;
}

.favoritesfull{
  margin: 25px 0 35px 0;
}
.heart{
  position: absolute;
  top: 155px;
  right: 24px;
}

.heartimg{
  width: 46px;
}

.backgroundgrey{
  background: #dedede;
  padding: 1px 11px 4px 5px;
}

.backgroundgrey-en{
  margin: 0 10px 0 0;
}

.favbox{
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
}
.favmargin{
  margin: 0px 0 35px 0;
}

.sold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Pacifico;
}
.overlay{
  position: absolute;
  width: 93%;
  height: 100%;
  background-color: rgba(44, 37, 37, 0.39);
  top: 0;
  border-radius: 6px;
}























/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


