		<div class="quicksearch quicksearch-{{'lang'|translate}}">
					<h4><b>Quick Search</b></h4>
					<div class="row">
						<div class="col-6 imgbox">
							<div class="divimg">
								<img src="./assets/images/october6.jpg" class="placesimg">
								<div class="overlayimg"></div>
							</div>

							<div class="centeredtitle">6 October</div>
						</div>
						<div class="col-6 imgbox">
							<div class="divimg">
								<img src="./assets/images/newcairo.jpg" class="placesimg">
								<div class="overlayimg"></div>
							</div>
							
							<div class="centeredtitle">New Cairo</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 imgbox">
							<div class="divimg">
								<img src="./assets/images/nourth.jpg" class="placesimg">
								<div class="overlayimg"></div>
							</div>
							<div class="centeredtitle">Nourth Coast</div>
						</div>
						<div class="col-6 imgbox">
							<div class="divimg">
								<img src="./assets/images/ain.jpg" class="placesimg">
								<div class="overlayimg"></div>
							</div>
							<div class="centeredtitle">Ain Sokhna</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 imgbox">
							<div class="divimg">
								<img src="./assets/images/newcapital.jpg" class="placesimg">
								<div class="overlayimg"></div>
							</div>
							<div class="centeredtitle">New Capital</div>
						</div>
						<div class="col-6 imgbox">
							<div class="morebox"></div>
							<div class="centeredtitle">More Area</div>
						</div>
					</div>
					<br>

					<div  class="types">
						<h4><b>Type</b></h4>
						<div class="row">
							<div class="col-12">
								<mat-radio-group aria-label="Select an option">
									<div class="row">
										<div class="col-6">
											<mat-radio-button [checked]="true" value="1">For Sale  &nbsp;</mat-radio-button>
										</div>
										<div class="col-6">
											<mat-radio-button value="2">For Rent</mat-radio-button>
										</div>
									</div>
								   
								   
								</mat-radio-group>
							</div>
							
						</div>
					</div>
					<br><br>
					<div class="units">
						<h4><b>Unit</b></h4>
						
						<div class="row">
							<div class="col-6">
								<mat-checkbox>Flat </mat-checkbox>
							</div>
							<div class="col-6">
								<mat-checkbox> Villa</mat-checkbox>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<mat-checkbox>Twin House</mat-checkbox>
							</div>
							<div class="col-6">
								<mat-checkbox>Basement</mat-checkbox>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								
							</div>
							<div class="col-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								
							</div>
							<div class="col-6">
								
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								
							</div>
							<div class="col-6">
								
							</div>
						</div>

					</div>

					<button mat-raised-button><b>VIEW LODGES</b></button>
					<div class="searchfeatures">
						<a href=""><p><b>Search By More Features</b></p></a>
					</div>

				</div>

